<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8"  />
<meta name="description" content="RemoteStick" />
<meta name="keywords" content="remotestick,tellstick,home automation,android,restful" />
<meta name="author" content="Patrik Åkerfeldt" />
<link rel="stylesheet" type="text/css" href="/css/default.css" />
<!-- <script type="text/javascript" src="/javascript/highslide/highslide.js"></script> -->
<script type="text/javascript" src="/javascript/highslide/highslide-with-html.js"></script> 
<link rel="stylesheet" type="text/css" href="/javascript/highslide/highslide.css" /> 
<script type="text/javascript"> 
	hs.graphicsDir = '/javascript/highslide/graphics/';
	hs.showCredits = false;
	hs.wrapperClassName = 'draggable-header';
	hs.wrapperClassName =" 'outer-glow";
	hs.outlineType = 'outer-glow';
</script> 
<title>Home of RemoteStick</title>
</head>

<body> 
<div id="wrap">
	<div id="header">
		<p id="toplinks">

		</p>

		<h1><a href="/"><div id="logo"></div><span class="maintitle">RemoteStick</span></a></h1>
		
		<div id="windows"></div>
		<div id="macosx"></div>
		<div id="android"></div>
		<div id="linux"></div>
		
		<div class="menu">
		<a class="lightblue" href="http://github.com/pakerfeldt/remotestick/downloads"> 
			Server: <span class="em135">v0.3.4</class>
		</a> | 
		<a class="lightblue" href="/androidclient.html"> 
			Client: <span class="em135">v1.3.6</span>
		</a> | 
		<a class="lightblue" href="/about.html">About</a>
		</div>
		<span style="font-size: 4.5em">&nbsp;</span>
</div>

<div id="content">  
  {{ content }}
</div>

<a href="http://github.com/pakerfeldt"><img style="position: absolute; top: 0; right: 0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_right_white_ffffff.png" alt="Fork me on GitHub" /></a>

<div id="footer">
<p>hello @ remotestick.org | &copy; 2010 <a href="http://pakerfeldt.github.com">Patrik &Aring;kerfeldt</a>

</div>

</div>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-9715280-6']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</body>
</html>
